---
layout: default
---
<div class="container-fluid" style="background-color: #ccc; padding-bottom: 5%;"><a name="top"></a><h1 style="padding-top:15%; text-align:center; color: white;"><strong>Lee Perry</strong></h1>
  <h5 style="text-align:center; color: white;">Making things with Python and Javascript</h5>
  <div class="container" style="padding-bottom:5%">
  <hr style="background-color: white;"><div style="text-align:center;">
    <button type="button" class="btn btn-dark btn-lg"><a href="https://github.com/lee-perry" target="_blank" style="color:white; text-decoration:none;"><i class="fa fa-github" aria-hidden="true"></i> Github</a></button>
    <button type="button" class="btn btn-dark btn-lg"><a href="https://codepen.io/lee-perry/" target="_blank" style="color:white; text-decoration:none;"><i class="fa fa-codepen" aria-hidden="true"></i> CodePen</a></button>
    <button type="button" class="btn btn-success btn-lg"><a href="https://www.freecodecamp.org/lee-perry" target="_blank" style="color:white; text-decoration:none;"><i class="fa fa-free-code-camp" aria-hidden="true"></i> FreeCodeCamp</a></button>
    <button type="button" class="btn btn-success btn-lg"><a href="https://lee-perry.github.io/python/" target="_blank" style="color:white; text-decoration:none;"><i class="fa fa-python" aria-hidden="true"></i> Python</a></button>
    <a name="about"></a>
    </div>
</div>
</div>
<div class="container" style="background-color: white; padding-top: 5%; padding-bottom: 5%">
  <h2><strong>About me</strong></h2>
  <div class="row">
    <div class="col-sm-4"><img src="https://avatars3.githubusercontent.com/u/14543108?s=460&v=4" width="90%" style="border-radius:15px 75px 30px 150px; border: 5px solid black"></div>
  <div class="col-sm-8">    
   <p>Hi, I'm Lee, I live in South Yorkshire with my wife Victoria and our four canine children.  I'm proficient with the following technologies:
     <div class="row">
  <div class="col-sm-6">
    <h6>Languages</h6>
     <ul>
       <li>Javascript</li>
       <li>Python</li>
       <li>ZX BASIC</li>
       <li>HTML</li>
       <li>CSS</li>
       <li>SQL</li>
    </ul>
       </div>
  <div class="col-sm-6">
    <h6>Frameworks</h6>
     <ul>
       <li>Bootstrap</li>
    </ul>
     <h6>eCommerce</h6>
     <ul>
       <li>WooCommerce</li>
       <li>Shopify</li>
    </ul>
    </div>
    </div>
    <div class="row">
  <div class="col-sm-6">
    <h6>CMS/F</h6>
     <ul>
       <li>Wordpress</li>
       <li>Processwire</li>
       <li>CraftCMS</li>
       <li>Magento 2</li>
    </ul>
     </div>
  <div class="col-sm-6">
    <h6>API</h6>
     <ul>
       <li>Google Maps</li>
       <li>Stockdio</li>
       <li>Quandl</li>
       <li>Twilio</li>
    </ul>
  </div>
    </div>
    <div class="row">
  <div class="col-sm-6">
    <h6>Templating Languages</h6>
     <ul>
       <li>Liquid</li>
       <li>Twig</li>
    </ul>
     </div>
  <div class="col-sm-6">
   
  </div>
    </div>
    </div>
  </div>
<a name="portfolio"></a>
</div>
<div class="container-fluid" style="background-color: black; padding-top: 5%; padding-bottom: 5%">
<div class="container">
  <h2 style="color:white">See my work (Thumbs to add)</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Stel Welding</h4>
        <p class="card-text">Wordpress Woo Commerce site built on a Genesis child theme, with customised pricing and payment methods.</p>
        <a href="https://stel-welding.co.uk" class="btn btn-dark">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Investimate</h4>
        <p class="card-text">Jekyll based investment site utilising the liquid templating language, Bootstrap 4, and the Stockdio API.</p>
        <a href="https://www.investimate.co.uk" class="btn btn-dark">Visit Site</a>
      </div>
    </div>
  </div>
</div>
  <div>&nbsp;</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">MacRetro</h4>
        <p class="card-text">Wordpress and Genesis based retro gaming blog with use of customised archive pages for subject display.</p>
        <a href="https://macretro.co.uk/" class="btn btn-dark">Visit Site</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">De Zeiner Fitness</h4>
        <p class="card-text">A Wordpress and Divi Triathlon coaching service offering with popular blog.</p>
        <a href="https://www.dzfitness.co.uk" class="btn btn-dark" target="_blank">Visit Site</a><a name="contact"></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container" style="background-color: white; padding-top: 5%; padding-bottom: 5%">
  <h2>Work with me</h2>
  <p>Tell me a little about yourt project requirements, and I'll be in touch as soon as possible.</p>
  
  <form id="contact-form" method="post" action="https://formspree.io/lzperry@icloud.com" role="form">
    <div class="messages"></div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">First Name *</label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_lastname">Last Name *</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_phone">Phone</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Message *</label>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-dark btn-send" value="Send message">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted"><strong>*</strong> These fields are required.</p>
            </div>
        </div>
    </div>
</form>
  
</div>
